<div class="container starter-template" ng-init="initHome()">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
            </tr> 
        </thead>
        <tbody> 
            <tr ng-repeat="(index, person) in people">
                <td>{{ index }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.address }}</td>
            </tr>
        </tbody> 
    </table>
</div>